{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Achievements</title>
    <style>
        .gallery {
            width: 60%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
          }
          .image {
            width: 100px;
            flex: 1 0 auto;
          }
          .featured-image {
            flex: 0 0 100%;
          }
    </style>
</head>
<body>
    <a href="/"><h1>HOME</h1></a>
    <div class="gallery">
        <img class="image featured-image" src="https://firebasestorage.googleapis.com/v0/b/tanweb-77381.appspot.com/o/sarfarazWebsite%2Fphoto.jpg?alt=media&token=e07bfe8f-c7f0-4b08-bad8-97bab1759a9a" alt="...">
        <img class="image" src="https://firebasestorage.googleapis.com/v0/b/tanweb-77381.appspot.com/o/sarfarazWebsite%2Fachivement1.jpg?alt=media&token=f7aad1ae-be82-47a6-99db-d39ae4f637c7" alt="...">
        <img class="image" src="https://firebasestorage.googleapis.com/v0/b/tanweb-77381.appspot.com/o/sarfarazWebsite%2Fachivement2.jpg?alt=media&token=2cad0fa1-9b67-4718-a541-bd9020398068" alt="...">
        <img class="image" src="https://firebasestorage.googleapis.com/v0/b/tanweb-77381.appspot.com/o/sarfarazWebsite%2Fachivement3.jpg?alt=media&token=c9c632b7-b430-4eb2-bc7a-f15c92493b4b" alt="...">
      </div>
      
</body>
</html>